*{
    font-family: 'Sawarabi Gothic', sans-serif;
}
.site-icon img{
    height: 30px;
}
.input{
    margin-top: 18px;
    display: flex;
}
.input-group-text{
    background-color: ghostwhite;
}
.navbar{
    display: flex;
}
.nav-link{
    color: black;
    padding: 20px 0px 0px 20px;
}
.content{
    position: relative;
    display: block;
}
.alert{
    height: 50px;
    text-align: center;
    margin-bottom: auto;
    font-size: 15px;
    padding: auto;
    height: auto
}
.top{
    background-image: url("https://cdn.pixabay.com/photo/2017/11/01/08/52/science-fiction-2907434_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}
.top-text{
    color: white;
    white-space: nowrap;
}
.contents{
    padding:50px 0px 30px 0px;
}
.contents h2{
    text-align: center;
    font-weight: bold;
}
.image{
    padding: 20px;
    text-align: center;
    display: flex;
}
.sample{
    text-align: center;
    padding-top: 50px;
    margin: 15px;
}
.sample .fas{
    color: darkseagreen;
}
.sample h5{
    padding: 18px 0px;
    font-weight: bold;
}
.contents2{
    background-color: #007a87;
    height: 400px;
    text-align: center;
    color: white;
    padding-top: 60px;
}
.contents2 h2{
    padding-top: 20px;
    font-weight: bold;
}
.contents2 .btn{
    margin-top: 25px;
    height:40px;
    width: 270px;
    margin-bottom: 10px;
}
.contents2 a{
    color: #ADD8E6	;
}
.contents2 a:hover{
    color: white;
    text-decoration: none;
}
.info-list{
    display: flex;
    padding-top: 50px;
}
.info-list li{
    list-style: none;
}
.info-list li a{
    color: black;
    font-size: 15px;
}
.info-list p{
    display: inline-block;
}
.last{
    display: flex;
    font-size: 15px;
    font-weight: bold;
}
.komi{
    padding: 20px;
}
